@charset "UTF-8";
:root {
    --primary-color: #9356DC;
    --gradient-custom: linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
}

html {
    font-family: roboto, Shrikhand, sans-serif;
}

body {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.logo,
#logo {
    margin-left: 18%;
    width: 63%;
    padding-bottom: 5px;
}

header {
    width: 100%;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.up {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #efeded;
    padding-bottom: 40px;
}

.localisation {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #dcdbdb;
    border-top: 3px solid darkgrey;
}

#local {
    margin-right: 3%;
    margin-left: 30%;
}

h1 {
    font-size: 25px;
    margin-inline: 10%;
    text-align: center;
}

#p1 {
    margin-inline: 5%;
    text-align: center;
    margin-top: -10px;
    color: dimgray;
}

.explore {
    z-index: 1;
    border-radius: 50px;
    border: initial;
    box-shadow: 4px 7px 10px darkgrey;
    width: 55%;
    height: 43px;
    color: white;
    margin-right: 0;
    font-size: 16px;
    margin-top: 0;
    background: linear-gradient(-6deg, #9356DC 1%, #FF79DA);
}

.explore:hover {
    box-shadow: 4px 7px 10px grey;
    background: linear-gradient(-6deg, #ac74ee 1%, #ef99d7);
}

.fonctionnement {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

h2 {
    margin-left: 7%;
}

.number {
    color: white;
    width: 1.25rem;
    height: 18px;
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 100px;
    padding-top: 2px;
    font-size: 13px;
    margin-left: 5%;
    position: inherit;
    margin-top: 38px;
    z-index: 1;
}

.choice {
    z-index: 0;
    position: inherit;
    margin-top: -58px;
}

.fa,
.fas {
    color: dimgray;
}

#ifont {
    z-index: 1;
    position: absolute;
    margin-top: 40px;
    margin-left: 20%;
}

#ifont2 {
    z-index: 1;
    position: absolute;
    margin-top: 40px;
    margin-left: 20%;
}

.purple {
    color: var(--primary-color);
    z-index: 1;
    position: absolute;
    margin-top: 40px;
    margin-left: 20%;
}

.choose {
    border-radius: 15px;
    border: initial;
    box-shadow: 4px 7px 10px lightgrey;
    width: 86%;
    height: 65px;
    margin-left: 7%;
    margin-top: 15px;
}

.resto {
    margin-top: 60px;
    background-color: #efeded;
    padding-top: 20px;
    padding-bottom: 50px;
}

.link {
    color: black;
    text-decoration: none;
}

.description {
    width: 86%;
    margin-left: 7%;
    box-shadow: 4px 7px 10px darkgrey;
    margin-bottom: 10px;
    border-radius: 20px;
    z-index: 0;
}

.description:hover {
    box-shadow: 4px 7px 10px grey;
}

.images_rest {
    width: 100%;
    height: 190px;
    border-radius: 20px 20px 0px 0px;
    -o-object-fit: cover;
    object-fit: cover;
}

.new {
    background-color: #99E2D0;
    color: forestgreen;
    width: 24%;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    margin-left: 64%;
    border-radius: 4px;
    z-index: 1;
    position: absolute;
    margin-top: 15px;
}

h3 {
    margin-left: 5%;
}

.ti_heart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    border: none;
    font-size: 23px;
    color: dimgrey;
    margin-right: 11%;
    float: right;
    z-index: 900;
    margin-top: -82px;
    cursor: pointer;
}

.custom::before {
    content: "";
    -webkit-text-stroke: 2px dimgray;
    -webkit-text-fill-color: transparent;
}

.custom {
    width: 25px;
    -webkit-text-stroke: 2px dimgray;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--gradient-custom);
    background-position-y: 100px;
    background-repeat: no-repeat;
    transition: 1s ease all;
}

.custom:hover {
    background-position-y: 0;
    -webkit-text-stroke-color: transparent;
}

.custom:hover::before {
    -webkit-text-stroke-color: var(--gradient-custom);
    -webkit-text-fill-color: transparent;
}

.p2 {
    margin-left: 5%;
    margin-top: -11px;
    padding-bottom: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 1.25rem;
    background-color: #323030;
    color: white;
}

#logo_footer {
    height: 24px;
    width: 32%;
}

.i_footer {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: -28px;
}

.font_footer {
    color: white;
    margin-left: 0;
    margin-right: 3%;
}

#p2 {
    margin-bottom: 10px;
}

#contact {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }
    .logo,
    #logo {
        margin-left: 22%;
        width: 58%;
    }
    .localisation {
        width: 85%;
        border-radius: 0px 0px 50px 50px;
    }
    #local {
        margin-left: 37%;
    }
    h1 {
        margin-bottom: 25px;
    }
    .explore {
        font-size: 16px;
        width: 45%;
        height: 52px;
        margin-top: 10px;
    }
    .fonctionnement {
        margin-top: 0px;
    }
    h2 {
        margin-left: 15%;
    }
    .number {
        width: 23px;
        height: 21px;
        font-size: 15px;
        margin-left: 10.5%;
        margin-bottom: -20px;
    }
    #ifont {
        margin-left: 25%;
    }
    #ifont2 {
        margin-left: 25%;
    }
    .choice {
        margin-top: -39px;
    }
    .choose {
        width: 78%;
        margin-left: 12%;
        font-size: 16px;
    }
    .purple {
        margin-left: 25%;
    }
    .description {
        width: 75%;
        margin-left: 13%;
        margin-top: 40px;
    }
    button {
        font-size: 25px;
        margin-right: 15%;
        margin-top: -93px;
    }
    .images_rest {
        height: 260px;
    }
    .new {
        width: 15%;
        height: 28px;
        padding-top: 8px;
        margin-left: 65%;
        margin-top: 35px;
    }
    footer {
        padding-top: 30px;
        padding-bottom: 70px;
    }
    #logo_footer {
        height: 30px;
        width: 100%;
    }
    .foot-text {
        margin-left: 9%;
        margin-top: 30px;
    }
    #p2 {
        margin-left: 65%;
        margin-top: -87px;
    }
    #contact {
        margin-left: 65%;
    }
}

@media only screen and (min-width: 769px) {
    .logo,
    #logo {
        width: 56%;
    }
    .localisation {
        width: 65%;
    }
    .explore {
        width: 37%;
    }
    .choose {
        width: 58%;
        margin-left: 21%;
    }
    .number {
        width: 27px;
        height: 23px;
        margin-left: 20%;
        padding-top: 5px;
        margin-bottom: -22px;
    }
    .description {
        width: 58%;
        margin-left: 21%;
    }
    button {
        font-size: 28px;
        margin-right: 24%;
        margin-top: -93px;
    }
    .custom {
        width: 30px;
        margin-right: 24%;
        margin-top: -93px;
    }
    .new {
        width: 14%;
        margin-left: 62%;
    }
    footer {
        padding-top: 30px;
        padding-bottom: 60px;
    }
    #logo_footer {
        height: 30px;
        width: 100%;
    }
    .foot-text {
        margin-left: 15%;
        margin-top: 30px;
    }
    #p2 {
        margin-left: 59%;
        margin-top: -87px;
    }
    #contact {
        margin-left: 59%;
    }
}