@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}

@keyframes loadingContainer {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: 0;
        visibility: hidden;
    }
}

.loading {
    align-items: center;
    animation: loadingContainer 3s ease;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100vw;
    position: fixed;
    background-color: white;
    z-index: 1000;
}

.loading::after {
    content: '';
    width: 100px;
    height: 100px;
    border: 11px solid darkgrey;
    border-top-color: #99E2D0;
    border-radius: 50%;
    animation: loading 1.2s ease infinite;
}

@media screen and (min-width: 600px) {
    .loading::after {
        content: '';
        width: 160px;
        height: 160px;
        border: 14px solid darkgrey;
        border-top-color: #99E2D0;
        border-radius: 50%;
        animation: loading 1.2s ease infinite;
    }
}

@media screen and (min-width: 1024px) {
    .loading::after {
        content: '';
        width: 200px;
        height: 200px;
        border: 15px solid darkgrey;
        border-top-color: #99E2D0;
        border-radius: 50%;
        animation: loading 1.2s ease infinite;
    }
}