@keyframes anim-menu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* @keyframes anim-price {
    from {
        width: 65%;
    }
    to {
        width: 62%;
    }
} */


/* @keyframes anim-submit {
    from {
        width: 0;
    }
    to {
        width: 9%;
    }
} */

@keyframes anim-check {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

:root {
    --primary-color: #9356DC;
    --gradient-custom: linear-gradient(to top, #FF79DA 0%, #9356DC 100%);
}

html {
    font-family: Roboto, Shrikhand, sans-serif;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
}

.logo,
#logo {
    margin-top: 10px;
    margin-left: 10%;
    width: 67%;
    padding-bottom: 5px;
}

.back_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 12%;
}

.arrow {
    margin-left: -35%;
}

.back {
    color: #3e3b3b;
}

.up {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgb(239, 237, 237);
    padding-bottom: 40px;
}

.up_image {
    width: 100%;
    height: auto;
    z-index: 0;
}

.menu {
    background-color: rgb(239, 237, 237);
    border-radius: 35px 35px 0 0;
    margin-top: -55px;
    z-index: 999;
    position: relative;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 80px;
}

h1 {
    font-size: 29px;
    font-weight: bold;
    font-family: Shrikhand;
    margin-left: 6%;
}

.custom {
    width: 27px;
    font-size: 25px;
    margin-right: 6%;
    -webkit-text-stroke: 2px dimgray;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--gradient-custom);
    background-position-y: 100px;
    background-repeat: no-repeat;
    transition: 1s ease all;
    color: transparent;
}

.custom:hover {
    padding: 1px;
    background-position-y: 0;
    -webkit-text-stroke-color: transparent;
}

.custom:hover::before {
    -webkit-text-stroke-color: var(--gradient-custom);
    -webkit-text-fill-color: transparent;
}

.choice1 {
    margin-bottom: 40px;
    /* opacity: 0; */
    animation: anim-menu 2s 0s ease-in;
}

.choice2 {
    margin-bottom: 40px;
    animation: anim-menu 2s 0.5s ease-in;
}

.choice3 {
    margin-bottom: 40px;
    animation: anim-menu 2s 1.5s ease-in;
}

h2 {
    font-size: 18px;
    margin-left: 6%;
    color: dimgrey;
    text-transform: uppercase;
    text-decoration: underline 4px #99E2D0;
    text-underline-offset: 8px;
    margin-bottom: 25px;
}

.choose {
    border-radius: 15px;
    border: initial;
    box-shadow: 4px 7px 10px lightgrey;
    width: 91%;
    height: 73px;
    margin-left: 4%;
    margin-top: 15px;
    background-color: white;
    cursor: pointer;
    margin-top: 30px;
}

.choose:hover {
    box-shadow: 4px 7px 10px grey;
}

h3 {
    margin-left: 1%;
    margin-bottom: -7px;
    font-size: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 83%;
    text-align: start;
}

.p1 {
    margin-left: 1%;
    color: dimgrey;
    font-size: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 83%;
    text-align: start;
}

.p2 {
    font-size: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.prix {
    text-align: right;
    margin-top: -32px;
    margin-right: 4%;
}

.text_menu {
    width: 97%;
    z-index: 2;
    position: relative;
    margin-top: -16px;
    padding-top: 1px;
    transition: width ease-in 0.4s;
}

.green_submit {
    margin-top: -64px;
    position: relative;
    width: 95%;
}

.submit {
    background-color: #99E2D0;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    width: 0;
    padding: 0;
    height: 73px;
    border: hidden;
    border-radius: 0 15px 15px 0;
    position: absolute;
    right: -5.3%;
    margin-top: -32px;
    transition: width ease-in 0.4s;
}

.check {
    width: 32px;
    margin-left: 93%;
    z-index: 1;
    position: relative;
    margin-top: -10px;
}

.choose:hover .text_menu {
    width: 85%;
}

.choose:hover .submit {
    width: 17%;
}

.choose:hover .check {
    animation: anim-check 0.4s 0.2s;
}

.command {
    border-radius: 50px;
    height: 48px;
    width: 50%;
    color: white;
    background: linear-gradient(-6deg, #9356DC 1%, #FF79DA);
    border: hidden;
    margin-bottom: 60px;
    margin-left: 25%;
}

.command:hover {
    box-shadow: 4px 7px 10px grey;
    background: linear-gradient(-6deg, #ac74ee 1%, #ef99d7);
}

footer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #323030;
    color: white;
}

#logo_footer {
    height: 24px;
    width: 32%;
}

.i_footer {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: -28px;
}

.font_footer {
    width: 8%;
    color: white;
    margin-left: 0;
}

#p2 {
    margin-bottom: 10px;
}

#contact {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }
    .back {
        font-size: 25px;
    }
    .menu {
        margin-top: -57px;
    }
    h1 {
        font-size: 35px;
        margin-left: 29%;
    }
    .heart {
        font-size: 29px;
        margin-right: 10%;
    }
    .choice1 {
        margin-bottom: 50px;
    }
    .choice2 {
        margin-bottom: 50px;
    }
    .choice3 {
        margin-bottom: 50px;
    }
    h2 {
        font-size: 20px;
        margin-left: 7.5%;
        text-underline-offset: 8px;
        margin-bottom: 25px;
    }
    .choose {
        width: 85%;
        height: 80px;
        margin-left: 7.5%;
        margin-top: 35px;
    }
    .prix {
        margin-right: 5%;
    }
    h3 {
        margin-left: 4%;
        font-size: 18px;
    }
    .p1 {
        margin-left: 4%;
        font-size: 16px;
    }
    .p2 {
        font-size: 16px;
    }
    .text_menu {
        width: 98%;
    }
    .submit {
        height: 80px;
        margin-top: -39px;
    }
    .check {
        width: 36px;
        margin-left: 94%;
        margin-top: -16px;
    }
    .command {
        height: 50px;
        width: 36%;
        margin-left: 33%;
        font-size: 18px;
    }
    footer {
        padding-top: 30px;
        padding-bottom: 70px;
    }
    #logo_footer {
        height: 30px;
        width: 100%;
    }
    .foot-text {
        margin-left: 10%;
        margin-top: 30px;
    }
    #p2 {
        margin-left: 65%;
        margin-top: -87px;
    }
    #contact {
        margin-left: 65%;
    }
}

@media only screen and (min-width: 769px) {
    .logo,
    #logo {
        margin-top: 12px;
        margin-left: 15%;
        width: 56%;
        padding-bottom: 10px;
    }
    .title {
        padding-top: 15px;
    }
    h1 {
        font-size: 42px;
        margin-left: 35.5%;
        letter-spacing: 3px;
    }
    .heart {
        font-size: 30px;
        margin-right: 18%;
    }
    h2 {
        color: black;
        letter-spacing: 1px;
    }
    .choose {
        width: 66%;
        margin-left: 17%;
        border-radius: 15px 4px 15px 4px;
        margin-top: 40px;
    }
    .text_menu {
        margin-top: -17px;
        width: 100%;
    }
    .green_submit {
        margin-top: -101px;
    }
    .submit {
        width: 0;
        margin-top: -2px;
        border-radius: 0 4px 15px 0;
    }
    .check {
        width: 35px;
        margin-left: 98%;
        margin-top: 19px;
    }
    .choose:hover .text_menu {
        width: 93%;
    }
    .choose:hover .submit {
        width: 11%;
    }
    .command {
        width: 33%;
        margin-left: 35%;
    }
    footer {
        padding-top: 30px;
        padding-bottom: 60px;
    }
    #logo_footer {
        height: 30px;
        width: 100%;
    }
    .foot-text {
        margin-left: 15%;
        margin-top: 30px;
    }
    #p2 {
        margin-left: 59%;
        margin-top: -87px;
    }
    #contact {
        margin-left: 59%;
    }
}